<ul>
  {% comment %}
    Include a Home nav item except on the front page
  {% endcomment %}
  {% if page.url != '/' %}
    <li>
      <a href="/">
        Home
      </a>
    </li>
  {% endif %}
  {% for item in navigation %}
    {% if page.url contains item.url %}
      <li>
        <a class="{{ item.class }} nav-active" href="{{ item.url }}">
          {{ item.name }}
        </a>
      </li>
    {% else %}
      <li>
        <a class="{{ item.class }}" href="{{ item.url }}">
          {{ item.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>