---
layout: blog
---

{% assign olderPost = collections.post | getPreviousCollectionItem %}
{% assign newerPost = collections.post | getNextCollectionItem %}

<article>
  <header class="post-header">
    <div class="post-date">
      {{ page.date | date: '%B %e, %Y' }}
    </div>
    <h2>{{ title }}</h2>
  </header>
  <div class="post-body">
    {{ content }}
  </div>
</article>

{% if olderPost or newerPost %}
  <div class="post-nav">  
    {% if newerPost %}
      <div>
        <span class="lead-in">Newer:</span> <a href="{{ newerPost.url }}">{{ newerPost.data.title }}</a>
      </div>
    {% endif %}
    
    
    {% if olderPost %}
      <div>
        <span class="lead-in">Older:</span> <a href="{{ olderPost.url }}">{{ olderPost.data.title }}</a>
      </div>
    {% endif %}
  </div>
{% endif %}